# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
/node_modules
*/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment variables
.env
.env.*
!.env.example
!.env.template

# Build / Production
dist/
dist-ssr/
build/
/out/
/.next/

# Testing
/coverage
coverage/

# Misc
.DS_Store
*.pem
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# User exclusions
design/
